@page
@using FarmProject.Domain.Constants;
@model FarmProject.Presentation.Pages.AddPairModel
@{
    ViewData["Title"] = "Add Pair";
}

<h1>Add Pair</h1>

<form method="post">
    <p>Female Rabbit ID:</p>
    <input type="text" asp-for="Pair.MaleId" placeholder="Input Rabbit Id" />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Breeding Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var viewBreedingRabbitDto in Model.AllBreedingRabbitsDtos)
            {
                @if (viewBreedingRabbitDto.Gender == Gender.Female && 
                     viewBreedingRabbitDto.BreedingStatus == BreedingStatus.Available)
                {
                    <tr>
                        <th scope="row">@viewBreedingRabbitDto.Id</th>
                        <td>@viewBreedingRabbitDto.Name</td>
                        <td>@viewBreedingRabbitDto.BreedingStatus</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <p>Male Rabbit ID:</p>
    <input type="text" asp-for="Pair.FemaleId" placeholder="Input Rabbit Id" />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Breeding Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var viewBreedingRabbitDto in Model.AllBreedingRabbitsDtos)
            {
                @if (viewBreedingRabbitDto.Gender == Gender.Male && 
                     viewBreedingRabbitDto.BreedingStatus == BreedingStatus.Available)
                {
                    <tr>
                        <th scope="row">@viewBreedingRabbitDto.Id</th>
                        <td>@viewBreedingRabbitDto.Name</td>
                        <td>@viewBreedingRabbitDto.BreedingStatus</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Create</button>

</form>