@page
@model FarmProject.Presentation.Pages.AllPairsModel
@{
    ViewData["Title"] = "All Pairs";
}

<h1>All Pairs</h1>

@foreach (var pair in Model.PairDtos)
{
    <div class="card-header">
        Pair #@pair.Id
    </div>
    <div class="card-body">
        <h5 class="card-title"><strong>Female ID:</strong> @((pair.FemaleRabbit?.Id != null)? pair.FemaleRabbit?.Id : "Unknown")</h5>
        <h5 class="card-title"><strong>Male ID:</strong> @((pair.MaleRabbit?.Id != null) ? pair.MaleRabbit?.Id : "Unknown")</h5>
        <div class="row mt-3">
            <div class="col-md-6">
                <p><strong>Start Date:</strong> @pair.StartDate</p>
            </div>
            <div class="col-md-6">
                <p><strong>End Date:</strong> @((pair.EndDate == null) ? "Ongoing" : @pair.EndDate)</p>
            </div>
            <div class="col-md-6">
                <p><strong>Pairing Status:</strong> @pair.PairingStatus</p>
            </div>
        </div>
    </div>
}